 * {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
 }

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)),
    url(../../assets/img/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
 
}
.text-box p {
  color: white;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between  ;
  align-items: flex-start;
}
nav img{
  width: 200px;
}

.nav-links{
  flex: 1;
  text-align: right;

}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: white;
  text-decoration: none;
  font-size: 13px;
  padding: 9px ;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: red;
  display: block;
  margin: auto;  
  transition: 0.35s;
}
.nav-links ul li:hover::after{
  width: 78%;
}
.text-box{
  width: 100% ;
 color: white;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 text-align: center;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  
}
.text-box h1{
  
  font-size: 62px;
  
}


.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 2px solid greenyellow  ;
  font-size: 13px;
  background-color:#ff6666 ;
  padding: 13px 25px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
 
.hero-btn:hover{
  border: solid #7ef794;
  background:#7ef794 ;
  transition: 1s;
}
nav .fa{
  display: none;
}
@media(max-width:700px)
{
  .text-box h1{
  
    font-size: 32px;
    
  }
  .nav-links ul li {
   
    display: block;
    
  } 
  .nav-links ul li a {
      color: black;
      font-size: large;
      
  }
  .nav-links{
   position: absolute;
   background:#74c3f4;
   height: 100vh;
   width: 35vw;
   top: 0;
   right: -200px;
   text-align: left;
   z-index: 1;
   transition: 0.8s;
  }
  nav .fa{
    display: block;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  };

  /* .nav-links ul{
    padding: 30px;
  }
  */
  
}

/* ---course------ */
.course{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1{
  font-size: 35px;
  font-weight: bold;
}
p{
  color: black;
  font-size: medium;
  font-weight: thin;
  line-height: 22px;
  padding: 10pxxx;
}